<div class="container">
    <style>
        .bold-span{
            font-weight: bold;
        }
    </style>
    <div>
        <button type="button" class="btn btn-default" aria-label="Left Align" ng-click="back()" popover-placement="bottom" popover="Cofnij" popover-trigger="mouseenter">
            <span class="glyphicon glyphicon glyphicon-backward" aria-hidden="true"></span>
        </button>
        <h2 ng-hide="isEdit">Dodaj nowego pacjenta</h2>
        <h2 ng-show="isEdit">Edytuj pacjenta {{lastname}} {{firstname}}</h2>
        <div ng-show="error" class="alert alert-danger">{{error}}</div>
    </div>
    <div>
        <form name="form" ng-submit="Add()" role="form">
            <div class="row">
                <div class="form-group col-md-6" ng-class="{'has-error': form.lastname.$invalid && form.lastname.$dirty }">
                    <label for="lastname">Nazwisko</label>
                    <input type="text" name="lastname" id="lastname" class="form-control" ng-model="lastname" ng-minlength="2" required style="text-transform: uppercase" />
                    <span ng-show="form.lastname.$error.required" class="help-block">Nazwisko jest wymagane</span>
                    <span ng-show="form.lastname.$error.minlength" class="help-block">Minimalna długość w tym polu to 2 znaki</span>
                </div>
                <div class="form-group col-md-4" ng-class="{'has-error':form.firstname.$invalid && form.firstname.$dirty }">
                    <label for="firstname">Imię</label>
                    <input type="text" name="firstname" id="firstname" class="form-control" ng-model="firstname" ng-minlength="2" required style="text-transform: uppercase" />
                    <span ng-show="form.firstname.$error.required" class="help-block">Imię jest wymagane</span>
                    <span ng-show="form.firstname.$error.minlength" class="help-block">Minimalna długość w tym polu to 2 znaki</span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-4" ng-class="{'has-error':form.PESEL.$invalid && form.PESEL.$dirty }">
                    <label for="PESEL">PESEL</label>
                    <input type="text" name="PESEL" id="PESEL" class="form-control" ng-model="PESEL" ng-pattern="/^[0-9]{11}$/" style="text-transform: uppercase" ng-change="peselChange()" />
                    <span ng-show="form.PESEL.$dirty && form.PESEL.$error.pattern" class="help-block">PESEL musi mieć 11 znaków</span>
                </div>
                <div class="col-md-3">
                    <label>Data urodzenia</label>
                    <input type="text" name="PESEL" id="Text1" class="form-control" ng-model="birthdate" readonly style="text-transform: uppercase" tabindex="101" />
                </div>
                <div class="col-md-3">
                    <label>Płeć</label>
                    <input type="text" name="PESEL" id="Text2" class="form-control" ng-model="sex" readonly style="text-transform: uppercase" tabindex="101" />
                </div>
            </div>


            <div class="row">

                <div class="form-group col-md-6" ng-class="{'has-error':form.adress.$invalid && form.adress.$dirty}">
                    <label for="adres">Adres</label>
                    <input type="text" name="adress" id="adress" class="form-control" ng-model="adress" required style="text-transform: uppercase" />
                    <span ng-show="form.adress.$error.required" class="help-block">Adres jest wymagany</span>
                </div>
                <div class="form-group col-md-4" ng-class="{'has-error':form.country.$invalid && form.country.$dirty}">
                    <load-data loading="countryLoading" error="countryError">
                        <label for="country">Kraj</label>
                        <angucomplete-alt id="country"
                                          selected-object="OnCountryChange"
                                          local-data="countryList"
                                          required
                                          search-fields="name"
                                          title-field="name"
                                          minlength="1"
                                          input-class="form-control form-control-small"
                                          match-class="highlight"
                                          override-suggestions="true"/>
                    </load-data>                     
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6" ng-class="{'has-error':form.city.$invalid && form.city.$dirty }">
                    <load-data loading="cityPostalLoading" error="cityPostalError">
                        <label for="city">Miasto</label>
                        <angucomplete-alt id="city"
                                          selected-object="OnCityChange"
                                          local-data="cityPostal"
                                          required
                                          search-fields="city,postal"
                                          description-field="postal"
                                          title-field="city"
                                          minlength="1"
                                          input-class="form-control form-control-small"
                                          match-class="highlight"
                                          override-suggestions="true"/>
                        <span ng-show="form.city.$error.required" class="help-block">Miasto jest wymagany</span>
                        <span ng-show="form.city.$error.minlength" class="help-block">Miasto musi mieć przynajmniej 2 znaki</span>
                    </load-data>  
                </div>
                <div class="form-group col-md-4" ng-class="{'has-error':form.postal.$invalid && form.postal.$dirty }">
                    <load-data loading="cityPostalLoading" error="cityPostalError">
                        <label for="postal">Kod pocztowy</label>
                        <angucomplete-alt id="postal"
                                          selected-object="OnPostalChange"
                                          local-data="cityPostal"
                                          required
                                          search-fields="city,postal"
                                          title-field="postal"
                                          description-field="city"
                                          minlength="1"
                                          input-class="form-control form-control-small"
                                          match-class="highlight"
                                          override-suggestions="true"/>
                        <span ng-show="form.postal.$error.required" class="help-block">Kod pocztowy jest wymagany</span>
                        <span ng-show="form.postal.$dirty && form.postal.$error.pattern" class="help-block">Kod pocztowy powinnien być w formacie XX-XXX</span>
                    </load-data>  
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-5">
                    <label for="phone">Numer telefonu</label>
                    <input type="text" name="phone" id="phone" class="form-control" ng-model="phone" />
                </div>
                <div class="form-group col-md-5">
                    <label for="email">Email</label>
                    <input type="text" name="email" id="email" class="form-control" ng-model="email" style="text-transform: uppercase" />
                </div>
            </div>

            <div class="row">
                <div class="col-md-1 col-md-offset-8">
                    <button type="submit" ng-disabled="dataLoading" class="btn btn-primary">
                        <span class="glyphicon glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>Zapisz
                    </button>
                    <img ng-if="dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                </div>
            </div>
        </form>
    </div>
</div>

