<style>
    .remove-btn {
        margin-top: 30px;
        border-radius: 12px;
        width: 24px;
        height: 24px;
        margin-left: -23px;
    }
    .diagnose-box {
        padding-top: 13px;
    }
    .add-btn-icon {
        margin-right: 3px;
    }
    .center-row {
        display: flex;
        align-items: center;
    }
    .text-align-right{
        text-align:right;
    }
</style>
<div class="container shadow-z-1" ng-cloak>
    <div class="row">
        <div class="col-md-2 center-block">
            <button type="button" class="btn btn-default" aria-label="Left Align" ng-click="back()" popover-placement="bottom" popover="Cofnij" popover-trigger="mouseenter">
                <span class="glyphicon glyphicon glyphicon-backward" aria-hidden="true"></span>
            </button>
        </div>
        <div class="col-md-8">
            <div ng-show="patient">
                <p class="text-center">
                <h2>{{::patient.lastname | uppercase}}&nbsp;{{::patient.firstname | uppercase}}</h2>
                </p>
        </div>
        <div ng-hide="patient">
            <h3>Trwa pobieranie danych pacjenta</h3>
        </div>
    </div>
</div>
<hr>
<tabset>
    <tab heading="Dane pacjenta">
        <div ng-show="patient">
            <div class="page-header">
                <div class="row">
                    <div class="col-md-11">
                        <h2 class="text-center">Dane pacjenta</h2>
                    </div>
                    <div class="col-md-1">
                        <button type="button" class="btn btn-primary btn-sm pull-right" aria-label="Left Align" ng-click="editPatient(patientId)">
                            <span class="glyphicon glyphicon glyphicon-option-vertical" aria-hidden="true"></span>
                        </button>
                    </div>
                </div>
            </div>
            <br/>


            <hr/>
            <dl class="dl-horizontal">
                <dt>PESEL:</dt>
                <dd><p ng-show="patient.pesel">{{::patient.pesel}}</p><i ng-hide="patient.pesel" class="danger">Uzupełnij PESEL pacjenta</i></dd>
                <dt>Numer telefonu:</dt> 
                <dd><p ng-show="patient.phone">{{::patient.phone}}</p><i ng-hide="patient.phone">Brak</i></dd>
                <dt>Email:</dt> 
                <dd><p ng-show="patient.email">{{::patient.email}}</p><i ng-hide="patient.email">Brak</i></dd>
                <dt>Adres:</dt> 
                <dd>{{::patient.adress}}<br>
                    {{::patient.city}}<br>
                    {{::patient.postal}}<br>
                    {{::patient.country}}<br></dd>
            </dl>
            <br>
        </div>
        <div ng-hide="patient">
            <h3>Trwa pobieranie danych pacjenta</h3><br>
            
        </div> 
    </tab>
    <tab heading="Nowa wizyta">
        <div ng-include="'modules/patient/views/newVisit.html'"></div>
    </tab>
    <tab heading="Historia wizyt">
        <div ng-include="'modules/patient/views/visitHistory.html'"></div>
    </tab>
    <tab heading="Historia chorób">
        <div ng-include="'modules/patient/views/survey.html'"></div> 
    </tab>
    <tab heading="Komunikacja">
        <div ng-include="'modules/patient/views/communication.html'"></div> 
    </tab>
    <tab heading="Załączniki">
        <div ng-include="'modules/patient/views/attachment.html'"></div> 
    </tab>
    <tab heading="Oświadczenia">
        <div ng-include="'modules/patient/views/statment.html'"></div>            
    </tab>
</tabset>
</div>