<h2>Podgląd oświadczenia</h2>
<br>
<style>
    .statment {
        width: 60%;
        align-self: center;
        margin: auto;
        border-color: black;
        border-width: 1px;
        border-style: solid;
        padding: 28px;
        border-bottom-style: none;
    }

    .statment-bottom {
        width: 60%;
        align-self: center;
        margin: auto;
        border-color: black;
        border-width: 1px;
        border-style: solid;
        padding: 28px;
        border-top-style: none;
    }

    .buttons-bottom {
        width: 60%;
        align-self: center;
        margin: auto;
        padding-top: 10px; 
    }
</style>
<div ng-bind-html="statment" class="statment"></div>
<div class="statment-bottom">
    <img height="220" width="568" ng-src="{{data.signature}}"></img>
</div>
<div class="info">
    <p>W obecności: {{data.SystemUser.Person.FirstName}} {{data.SystemUser.Person.LastName}}</p>
    <p>Data: {{data.SignOffDate}}</p>
</div>
<div class="buttons-bottom">
    <button class="btn btn-success" ng-click="back()">Cofnij</button>
</div>
